  .Pagination {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1rem -0.5rem;
  
    .Arrow {
      flex: 0 0 auto;
  
      &:first-of-type {
        margin-inline-end: auto;
        order: -1;
      }
      &:last-of-type {
        margin-inline-start: auto;
        order: 1;
      }
    }
  }
  
  .Dots {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .Dot {
    border-radius: 100%;
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
  
    &::after {
      background: currentColor;
      border-radius: 100%;
      content: '';
      display: block;
      height: 0.375rem;
      width: 0.375rem;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  
  .Dot--active {
    color: hsl(var(--theme-pink)) !important;
  }